<div class="container-fluid mt-lg-5 mt-4 bg-faded-white">
  <!-- Put your internship online -->
  <div class="row align-items-center padding first-content">
    <div class="col-lg-7 text-lg-right px-5 col-sm-12 text-sm-center">
      <img src="assets/1_create_transp.png" class="first" alt="create with us" />
    </div>
    <div class="col-lg-5 text-lg-left col-sm-12 text-sm-center py-lg-0 py-3">
      <h1 class="pitch">Put your internship online</h1> 
      <p class="demo lead">Set up a demo with us.</p>
      <a href="https://calendly.com/thoughtspacetamu/thoughtspace-demo" target="_blank">
        <button class="btn btn-primary setup-demo">
          GET STARTED FOR FREE
        </button>
      </a>
    </div>
  </div>

  <!-- Who we are -->
  <div class="row justify-content-center align-items-center padding">
    <div class="col-lg-5 px-0 col-sm-12 px-sm-5 pb-5">
      <h1 class="pitch mb-lg-5 mb-3 text-center">Who we are...</h1>
      <p class="light-text">
        <span class="main-idea">Recruitment reimagined</span><br/>
        Recruit through virtual interactions and internships, not just career fairs and job postings.
      </p>
      <p class="light-text">
        <span class="main-idea">We put internship & learning experiences online</span><br/>
        ThoughtSpace connects <mark class="highlight-yellow">students</mark> with <mark class="highlight-yellow">industry</mark> for virtual internships, case studies, and learning experiences on our platform.
      </p>
      <p class="light-text">
        <span class="main-idea">The platform built for doing</span><br/>
        This is the place for companies and students to work and develop together <mark class="highlight-purple">everyday</mark> from <mark class="highlight-purple">anywhere</mark> & <mark class="highlight-purple">anytime</mark>.
      </p>
    </div>
    <div class="col-lg-5 text-center">
      <img src="assets/2_collaboration_transp.png" class="fit" alt="enabling collaboration" />
    </div>
  </div>

  <!-- Who we are -->
  <div class="row justify-content-center align-items-center padding">
    <div class="col-lg-5 text-center">
      <img src="assets/10_surprise_transp.png" class="fit" alt="surprisingly intuitive" />
    </div>
    <div class="col-lg-5 px-0 col-sm-12 px-sm-5 pb-5">
      <h1 class="pitch mb-lg-5 mb-3 text-center">What we do...</h1>
      <p class="light-text">
        <span class="main-idea">A platform to build experiences</span><br/>
        Companies use our tool to create public or private experiences and host them on our platform.
      </p>
      <p class="light-text">
        <span class="main-idea">Unlimited access to talent</span><br/>
        Employers can create talent pipelines and interact with thousands of students enrolled in their programs.
      </p>
      <p class="light-text">
        <span class="main-idea">Give experience, get bandwidth</span><br/>
        Companies can post real industry problems and recruit based on performance.
      </p>
    </div>
  </div>

  <!-- Put your internship online -->
  <div class="row justify-content-center align-items-center padding pt-5">
    <div class="col-12 text-center">
      <h1 class="pitch">Put your internship online</h1>
      <p class="lead light-text py-3"><strong>Set up a demo</strong></p>
      <a href="https://calendly.com/thoughtspacetamu/thoughtspace-demo" target="_blank">
        <button class="btn btn-primary setup-demo">
          GET STARTED FOR FREE
        </button>
      </a>
    </div>
  </div>
</div>